.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    gap: 12px;
    z-index: 1;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

button {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.result {
    color: white;
    font-weight: bold;
}